.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select, .input{
    padding: 5px 10px;
    outline: none;
}